@model Wiky.Models.Commentaire
@{
    ViewBag.Title = "AjouterCommentaire";
}

<h2>AjouterCommentaire</h2>
<p>@TempData["MessageAjout"]</p>
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Auteur);
    @Html.EditorFor(m => m.Auteur);

    @Html.LabelFor(m => m.Contenu);
    @Html.EditorFor(m => m.Contenu);

    @Html.Partial("_SelectArticle",(List<Wiky.Models.Article>) ViewBag.ListArticle);

    <input type="submit" value="Ajouter un Commentaire"/>
}