@model Wiky.Models.Article
@{
    ViewBag.Title = "AjouterArticle";
}

<h2>AjouterArticle</h2>
<p>@TempData["MessageAjout"]</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.LabelFor(m => m.Theme);
    @Html.EditorFor(m => m.Theme);

    @Html.LabelFor(m => m.Auteur);
    @Html.EditorFor(m => m.Auteur);

    @Html.LabelFor(m => m.Contenu);
    @Html.EditorFor(m => m.Contenu);
    @*@Html.ValidationMessageFor(m => m.Contenu);*@

    <input type="submit" value="Ajouter un Article" />
}