@model Wiky.Models.Article
@{
    ViewBag.Title = "Voir un Article";
}

<h2>Voir un Article</h2>
@Html.Partial("_VoirArticle", Model)


@Html.Partial("_FormCommentaire", (Wiky.Models.Commentaire)ViewBag.commentaire)
@TempData["MessageAjout"]
<div id="ajax">
    <p>Commentaires :<br /></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">Auteur</th>
                <th scope="col">Contenu</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var commentaire in Model.Commentaires)
            {
                <tr>
                    <td>@commentaire.Id</td>
                    <td>@commentaire.DateCreation.ToString("dd/MM/yyyy")</td>
                    <td>@commentaire.Auteur</td>
                    <td>@commentaire.Contenu</td>
                    <td><a href="#ajax" onclick="eventliensupprimer(@commentaire.Id);">Supprimer</a></td>
                    @*<td>@Html.ActionLink("Supprimer", "SupprimerCommentaire", "Commentaire", new { id = commentaire.Id }, new { id = commentaire.Id, @class = "eventliensupprimer" })</td>*@
                </tr>
            }
        </tbody>
    </table>
    @Html.AntiForgeryToken()
</div>
@*Ajouter Ajax pour ajouter Commentaire*@
@section scripts {
    <script>
        $("#boutonAjouterCommentaire").click(function (e) {
            e.preventDefault();
            var Auteur = $("#Auteur").val();
            var Contenu = $("#Contenu").val();
            var ArticleId = $("#ArticleId").val();
            var token = $("[name='__RequestVerificationToken']").val();
            $.post("@(Url.Action("AjaxListeCommentaire", "Commentaire"))", { Auteur: Auteur, Contenu: Contenu, ArticleId: ArticleId, __RequestVerificationToken: token },
                function (data) {
                    $("#ajax").html(data);
                });
        });

        function eventliensupprimer(id) {
            var token = $("[name='__RequestVerificationToken']").val();
            $.post("@(Url.Action("AjaxSupprimerCommentaire", "commentaire"))", { id: id, __RequestVerificationToken: token },
                function (data) {
                    $("#ajax").html(data);
                });
            return false;
        }
    </script>
}
